.x-list .x-list-item {
position: relative;
color: black;
	background: -webkit-gradient(linear,center top,center bottom,from(#FCFCFC),to(#EDEDED));
}

.rpt_cls{
	height:44px;
}
.photo{
height: 44px;
width: 44px;
float: left;
padding: 2px;
background-color: white;
border: 1px solid #DDD;
border-top: 1px solid #EFEFEF;
border-bottom: 1px solid #9D9D9D;
}
.photo .photo_cover {
height: 36px;
width: 36px;
overflow: hidden;
}
.rpt_info{
	float: left;
}
.rpt_info .rpt_name{
padding-left:2px;
font-weight: bold;
margin: 0;
font-size: 14px;
}

.rpt_info .rpt_title{
padding-left:4px;
font-size: 12px;
margin: 3px 0 0 0;
}
